{{> navbar}}

<div class="row justify content-around">
  <div class="row  mt-4 mb-4">
    {{#each products}}

      <div class="card mx-3 {{category}} " style="width: 18rem;">
         <img class="card-img-top" src="./.." alt="Card image cap">
         <div class="card-body">
            <h5 class="card-title">{{name}} <b>Articulos para el hogar</b> </h5>
            <p class="card-text">Precio del producto es: {{price}} <br>Hay disponible {{stock}} unidades para la Venta.</p>
            <a href="#" class="btn btn-danger"> <b>Comprar</b> </a>
        </div>
     </div>
    {{/each}}
 </div>
</div>