{{> navbar}}


<div class="row">
    {{#each products}}

    <div class="card" style="width: 18rem;">
         <img class="card-img-top" src="./.." alt="Card image cap">
         <div class="card-body">
            <h5 class="card-title">{{name}} <b>Articulos para el hogar</b> </h5>
            <p class="card-text">Precio del producto es {{price}} Hay {{stock}} Venta.</p>
            <a href="#" class="btn btn-danger"> <b>Comprar</b> </a>
        </div>
    </div>
    {{/each}}
</div>